@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

body{
    background-color: #f3f3f3;
    height: 100%;
}

.containerPrincipal{
    font-family: 'Darker Grotesque', sans-serif;
    height: 110%;
    margin-bottom: 5rem;
    
}

.containerRow{
    height: 100%;
}

.title{
    color: #97c7c7;
    font-size:400% !important;
}


.h2Title{
    color: #97c7c7;
}

.textos{
    font-size: 1.4rem; 
    line-height: 3.3rem; 
}

.fotoDiv{
    width:100%;
    background-repeat: no-repeat;
    background-size: 80%; 
    background-position: 50% 50%;
    overflow:hidden;
}
.fotoDiv>img{
    width:100%;
    transition: all .4s ease;
}


.fotoDiv {
  position: relative;
  
}

.myimage:hover{
    transform:scale(1.5);
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.test:link, .test:visited, .test:active {
    text-decoration:none;
    color:#97c7c7;
    
}



.test {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0px;
    transition: background-size .3s;
}

.test:hover, .test:focus {
    background-size: 100% 3px;
}

/* FOOTER */
.footerHome{
    background-color: #97c7c7;
    position: relative;
    bottom: 0;
    width:100%;
    } 

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 17.5px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    justify-content: center;
}

.btn-circle:hover{
    background-color: #CCB2D0;
}

/* SELECT AND INPUT */
.caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:50px;
    overflow: hidden;
    width: 230px;
    position:relative;
    font-size: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    }

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

select:focus { 
    outline: none;  
    
}

.caja::after{
    content:"\025be";
    display:table-cell;
    padding-top:7px;
    text-align:center;
    width:30px;
    height:30px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;	
    pointer-events: none;
}

:root {
    --select-border: #777;
    --option-hover: #666;
    --select-arrow: var(--select-border);
  }

.option {
    background:#e0e0e0;
  }

.numInput{
    background-color: #f3f3f3;	
    border:1px solid #d9d9d9;
    height:50px;
    overflow: hidden;
    width: 230px;
    position:relative;
    font-size: 100%; 
    font-family: 'Darker Grotesque', sans-serif;
}
/* ADD BUTTON */
.addButton{
    text-align: center;
    width: 230px;
    background-color: #44464e;	
    color:white;
    font-size:100%;
    height:50px;
    margin-top: 2rem;
    font-family: 'Darker Grotesque', sans-serif;
}

.addButton:hover{ 
    background-color:#97c7c7 ;
    font-size: 120%;
    color:white;
    transition: ease-in-out 0.25s;
}
.addBoton{
    text-align: center;
    width: 230px;
    background-color: white;	
    color:black;
    font-size:100%;
    height:50px;
    margin-top: 2rem;
    font-family: 'Darker Grotesque', sans-serif;
}

.addBoton:hover{ 

    color:black;

}

/* HEART */
.heart{
  float:left;
  margin-top:40%;  

}
.heartI{
size:9px;
}
.heartBtn{
    background: transparent;
    width: 100px;
    height: 100px;
    font-size: 2rem;
}
